<mat-card class="p-0">
  <mat-card-title class="">
      <div class="card-title-text">{{this.data.title}}</div>
      <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem">Validity : {{this.success}}</mat-list-item>
      <mat-list-item role="listitem">Scheme : {{this.scheme}}</mat-list-item>
      <mat-list-item role="listitem">Type : {{this.type}}</mat-list-item>
      <mat-list-item role="listitem">Bank : {{this.bank}}</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

